.logo {
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: 'Lexend', sans-serif;
    font-size: 100px;
}

.space {
    display: flex;
    block-size: 10%;
}

.search-bar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-bar:hover{
    filter: drop-shadow(0 0 2px #333);
}

.search-box {
    width: 50%;
    height: 45px;

    background-color: #eee;

    border-radius: 20px 0 0 20px;
    border-width: 1px 0 1px 1px;
    border-style: solid;
    border-color: #eeeeee;

    padding: 10px;
    vertical-align: middle;
}

.search-box:focus-visible {
    outline: none;
    background-color: #fff;
}

.search-button {
    width: 45px;
    height: 45px;

    margin-left: -4px;

    border-radius: 0 20px 20px 0;
    border-style: solid;
    border-color: #4285f4;
    vertical-align: middle;

    background-image: url("assets/search.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20px;
    background-color: #4285f4;
    
}

body {
    margin: 20px;
}